@model FIT5032Assignment.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Until)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Until)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food_And_Drinks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food_And_Drinks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apply_For_Party)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apply_For_Party)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leave_Message)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Leave_Message)*@
            @Html.Raw(Model.Leave_Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Karaoke.Venue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karaoke.Venue)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
}